/* You can add global styles to this file, and also import other style files */
body
{
    background: linear-gradient(to right,rrgb(42, 102, 122) rgb(225, 193, 202));
    background: linear-gradient(to bottom, rgb(219, 56, 94), rgb(135, 135, 17));
    background: linear-gradient(to bottom right, rgb(229, 218, 224), rgb(2, 111, 114),rgb(6, 156, 156));
}