body{
  background-color: rgb(186, 12, 90);
}
.form{
  margin-top: 40PX;
  border:  2PX SOLID black;
  border-radius: 10PX;
  padding:  40px 30px;
  background-color: rgb(167, 163, 132);
  width:30%;
}
.divOutput{
  width:40%;
  background-color:rgb(167, 163, 132);
  margin-top: 40px;
  border:  2PX SOLID black;
  border-radius: 10PX;  
  padding:  14px 30px;
}
li{
  list-style-type: none;
}
.custom-purple-navbar {
  background-color: black;
  color:white;
}
